.login-page {
  padding: 0 15rem !important;

  .mantine-InputWrapper-root {
    label {
      z-index: 1;
      position: relative;
    }

    p {
      z-index: 1;
      position: relative;
    }
  }
}
 